.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 960px;
}

/* div:not(.container) {
  border: solid 3px red;
} */

#div-4{
  padding: -2%;
  border: 7px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  margin: 2%;
  background-color: blue;
  border-block-end-color: black;
  height: 71%;
}

#div-4 figcaption {
  background-color:rgba(55,55,55,.5)
}


#div-4 img {
  max-width:100%;
}

#div-4 ul {
  background-color:rgba(55,55,55,.5)
}


#div-4 q {
  background-color:rgba(55,55,55,.5)
}


#div-7 {
background: silver;
margin: auto;

}

