.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 960px;
}

/* div:not(.container) {
  border: solid 3px red;
} */

<<<<<<< HEAD
#div-4{
  padding: 6%;
  border: 3px; color: blueviolet;
  background: 4px;
  margin: 5%;
}
=======
#div-7 {
background: silver;
margin: auto;

}

>>>>>>> 5fd580d39d747077844cdbc23254ad2f6998c02e
